/*
Description: Styling specific for mobile
*/
@media (max-width: 768px) {
    h1 {
        position: relative;
        text-align: center;
    }

    h2 {
        position: relative;
        text-align: center;
        font-size: 110%;
    }

    a {
        background-color: black;
        color: white;
        border-radius: 15px;
        padding: 2mm 4mm;

        position: relative;
        top: 8vh;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .image-layers {
        position: relative;
        display: relative;
        width: 90vw;
        height: 90vw;
    }
}

/*
Description: Styling specific for desktop and mobile
*/
button:hover,
a:hover {
    background-color: rgb(238, 205, 19);
}

.prediction {
    position: relative;
    display: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}

.image-overlay {
    position: absolute;
    max-width: 100%;
    z-index: 2;
}

.image-predict {
    position: absolute;
    max-width: 50%;
    left: 25%;
    top: 25%;
    z-index: 1;
}

@keyframes playOnce {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

body {
    background-color: white;
    background-image: none;
}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-layers {
        position: relative;
        width: 40vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
    }

    .prediction {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%;
    }

    .image-predict {
        position: absolute;
        max-width: 50%;
        z-index: 1;
        left: 25%;
        object-fit: cover;
    }

    .image-overlay {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
