/*
Description: Styling specific for mobile
*/
@media (max-width: 768px) {
    .header {
        height: 30vh;
    }
    h1 {
        text-align: center;
    }
    h2 {
        margin-top: 4.2rem;
        font-size: 20px;
    }

    .teapot img {
        position: relative;
        max-width: 30%;
        left: 38vw;
        top: calc(160px - 30vh);
        height: auto;
    }

    .teacup img {
        max-width: 35%;
        height: auto;
        position: relative;
        left: 32vw;
        top: 10vh;
    }

    a {
        position: relative;
        top: 16vh;
        text-decoration: none;
    }

}

/*
Description: Styling specific for desktop and mobile
*/
#frame-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.header {
}
.frame-two-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40vh;
}
.teacup img:hover {
    transform: scale(1.15);
}
.teapot img:hover {
    transform: scale(1.15);
}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
}
