
.frame1-container {
    display: flex;
    position: relative;
    top: 170px;
    left: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    flex: 1;
    align-self: auto;
}

.teacup img {
    max-width: 90%;
    position: relative;
    right: 3vw;
    top: 8vh;
    height: auto;
    scale: 1;
}
.teacup img:hover {
    transform: scale(1.15);
}


.teapot img {
    position: relative;
    max-width: 170%;
    right: 5vw;
    height: auto;
    z-index: -1;
    scale: 1;
}
.teapot img:hover {
    transform: scale(1.15);
}

.teajar-container {
    display: flex;
    position: relative;
    top: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.teajar_oolong img{
    position: relative;
    width: 130%;
    transition: opacity 0.2s;
    scale: 1;
}
.teajar_oolong img:hover {
    transform: scale(1.15);
}

.teajar_green img{
    position: relative;
    width: 130%;
    scale: 1;
}
.teajar_green img:hover {
    transform: scale(1.15);
}

.teajar_matcha img{
    position: relative;
    width: 130%;
    scale: 1;
}
.teajar_matcha img:hover {
    transform: scale(1.15);
}


 /* CSS for the flickering effect */
 .flicker-effect {
    transform: scale(1.15);
    animation: flicker 0.5s ;
    /* animation-iteration-count: infinite; */
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }