
.frame4-container {
    display: flex;
    position: relative;
    top: 100px;
    left: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    flex: 1;
    align-self: auto;
}

.teacup img {
    max-width: 50%;
    position: relative;
    height: auto;
}
.teacup img:hover {
    transform: scale(1.15);
}


.teapot img {
    position: relative;
    max-width: 90%;
    height: auto;

}
.teapot img:hover {
    transform: scale(1.15);
}