.container {
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    flex: 1;
    align-self: auto;
}

.teacup img {
    max-width: 70%;
    position: relative;
    height: auto;
}

.teapot img{
    position: relative;
    left: -30px;
    max-width: 130%;
    position: relative;
    height: auto;
}