.teapot img {
    position: sticky;
    position: relative;
    max-width: 30%;
    left: 145px;
    top: -85px;
    height: auto;
}
.teapot img:hover {
    transform: scale(1.15);
}

.frame1-container {
    display: flex;
    position: relative;
    top: -20px;
    left: -3vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    flex: 1;
    align-self: auto;
}
.teacup img {
    max-width: 30%;
    position: relative;
    left: 35vw;
    top: -1vh;
    height: auto;
}
.teacup img:hover {
    transform: scale(1.15);
}

.teajar_oolong img{
    position: relative;
    width: 130%;
    transition: opacity 0.2s;
}
.teajar_oolong img:hover {
    transform: scale(1.2);
}

.teajar_green img{
    position: relative;
    width: 130%;
}
.teajar_green img:hover {
    transform: scale(1.2);
}

.teajar_matcha img{
    position: relative;
    width: 130%;
}
.teajar_matcha img:hover {
    transform: scale(1.2);
}

a {
    position: relative;
    top: 5px;
}