/*
Description: Styling specific for mobile
*/
@media (max-width: 768px) {
    h1 {
        position: relative;
        text-align: center;
    }

    h2 {
        position: relative;
        text-align: center;
        font-size: 110%;
    }

    a {
        background-color: black;
        color: white;
        border-radius: 15px;
        padding: 2mm 4mm;

        position: relative;
        top: 8vh;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        
    }
}

/*
Description: Styling specific for desktop and mobile
*/
button:hover,
a:hover {
    background-color: rgb(238, 205, 19);
}

.prediction {
    position: relative;
    display: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}

#prediction-img {
    position: absolute;
    top: 14%;
    left: 30%;
}

.image-layers {
    position: relative;
    display: relative;
    width: 90vw;
    height: 90vw;
}

.image-overlay {
    position: absolute;
    max-width: 100%;
    z-index: 2;
}

.image-predict {
    position: absolute;
    max-width: 50%;
    left: 25%;
    top: 25%;
    z-index: 1;
}

@keyframes playOnce {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

body {
    background-color: white;
    background-image: none;
    /*background-image: url('../images/backgrounds/backgroundDesktop.png');
    background-size: 105%;
    background-repeat: no-repeat;*/
}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    .prediction img {
        display: flex;
        width:35%;
    }

    #prediction-img {
        display: flex;
        position: absolute;
        width: 28%;
        top: 0%;
        left: 35%;
    }

    #reveal_layer {
        display: flex;
        position: absolute;
        top: 0%;
        left: 30%;
    }

    h1 {
        position: relative;
        text-align: center;
    }

    h2 {
        display: flex;
    }
    #prediction-txt {
        display: flex;
        position: relative;
        top: -800px;
    }
    .prediction h2 {
        position: relative;
        text-align: center;
        font-size: 200%;
        top: -100vh;
        position: relative;
        z-index: 2;
    }

    
    a {
        padding: 30px;
        position: relative;
        text-align: center;
        font-size: 2.5vw;
        line-height: 20px;
        left: 40%;
        right: 40%;
        top: -90vh;
    }
}
