#frame1-layout .teajar-oolong,
#frame1-layout .teajar-green,
#frame1-layout .teajar-matcha {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tea jar styling */
#frame1-layout .teajar-oolong img,
#frame1-layout .teajar-green img,
#frame1-layout .teajar-matcha img {
    position: relative;
    width: 100%;
}

/* increase size of jar when hovering */
#frame1-layout .teajar-green img:hover,
#frame1-layout .teajar-oolong img:hover,
#frame1-layout .teajar-matcha img:hover {
    transform: scale(1.1);
}

#frame1-layout .frame-one {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

#frame1-layout .item {
    display: flex;
    flex: 1;
    align-self: auto;
}

/* CSS for the flickering effect */
#frame1-layout .flicker-effect {
    transform: scale(1.15);
    animation: flicker 0.5s;
    /* animation-iteration-count: infinite; */
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#frame1-layout .header {
    text-align: center;
    margin-right: 1.5rem;
}

#frame1-layout .header h1 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-top: calc(var(--img-scale) * var(--mbg-height) * 0.07);
}

#frame1-layout .header h2 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-top: calc(var(--img-scale) * var(--mbg-height) * 0.13);
}

#frame1-layout .teacup img {
    position: absolute;
    width: 15vw;
    top: calc(var(--img-scale) * var(--mbg-height) * 0.42);
    left: calc(var(--img-scale) * var(--mbg-width) * 0.1);
}

#frame1-layout .teapot img {
    position: absolute;
    width: 25vw;
    top: calc(var(--img-scale) * var(--mbg-height) * 0.33);
    left: calc(var(--img-scale) * var(--mbg-width) * 0.4);
}

#frame1-layout .frame-one-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(var(--img-scale) * var(--mbg-height) * 0.64);
}

#frame1-layout a {
    position: absolute;
    margin-top: 3rem;
    text-decoration: none;
    top: calc(var(--img-scale) * var(--mbg-height) * 0.9);
}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    #frame1-layout .header h1 {
        font-size: 2rem;
        margin-top: calc(var(--img-scale) * var(--tbg-height) * 0.06);
    }

    #frame1-layout .header h2 {
        font-size: 2rem;
        margin-top: calc(var(--img-scale) * var(--tbg-height) * 0.1);
    }

    #frame1-layout .teajar-oolong img,
    #frame1-layout .teajar-green img,
    #frame1-layout .teajar-matcha img {
        width: 50%;
    }

    #frame1-layout a {
        padding: 20px;
        left: 0vw;
        position: relative;
        text-align: center;
        font-size: 2.5vw;
        line-height: 20px;
    }

    /* teapot image styling */
    #frame1-layout .teapot img {
        position: absolute;
        width: 11vw;
        height: auto;
        top: calc(var(--img-scale) * var(--tbg-height) * 0.34);
        left: calc(var(--img-scale) * var(--tbg-width) * 0.46);
    }

    /* teacup image styling */
    #frame1-layout .teacup img {
        position: absolute;
        width: 7vw;
        top: calc(var(--img-scale) * var(--tbg-height) * 0.42);
        left: calc(var(--img-scale) * var(--tbg-width) * 0.3);
    }

    #frame1-layout .frame-one-container {
        justify-content: center;
        position: absolute;
        top: calc(var(--img-scale) * var(--tbg-height) * 0.56);
    }

    #frame1-layout a {
        top: calc(var(--img-scale) * var(--tbg-height) * 0.47);
    }
}

@media (min-width: 1280px) {
    #frame1-layout .header h1 {
        margin-top: calc(var(--img-scale) * var(--dbg-height) * 0.08);
    }

    #frame1-layout .header h2 {
        margin-top: calc(var(--img-scale) * var(--dbg-height) * 0.12);
    }

    /* teapot image styling */
    #frame1-layout .teapot img {
        top: calc(var(--img-scale) * var(--dbg-height) * 0.31);
        left: calc(var(--img-scale) * var(--dbg-width) * 0.45);
    }

    /* teacup image styling */
    #frame1-layout .teacup img {
        top: calc(var(--img-scale) * var(--dbg-height) * 0.4);
        left: calc(var(--img-scale) * var(--dbg-width) * 0.33);
    }

    #frame1-layout .frame-one-container {
        top: calc(var(--img-scale) * var(--dbg-height) * 0.55);
    }

    #frame1-layout a {
        top: calc(var(--img-scale) * var(--dbg-height) * 0.55);
    }
}
