/*
Description: Styling specific for mobile
*/
@media (max-width: 768px) {
    .header {
        height: 30vh;
    }
    /* teacup image styling */
    .teacup img {
        max-width: 35%;
        height: auto;
        position: relative;
        left: 32vw;
        top: 10vh;
    }
    /* h1 alignment */
    h1 {
        text-align: center;
    }
    /* h2 styling */
    h2 {
        margin-top: 7.2rem;
        font-size: 20px;
        text-align: center;
    }
    /* Frame 3 */
    .frame3-container {
        top: 8vh;
    }

    .item {
        display: flex;
        flex: 1;
        align-self: auto;
    }
    /* teacup image styling */
    .teacup img {
        max-width: 70%;
        left: 8vw;
        top: 10vh;
        position: relative;
        height: auto;
        z-index: 1;
    }
    /* teapot image styling */
    .teapot img {
        position: relative;
        max-width: 120%;
        right: 15vw;
        height: auto;
    }

    a {
        position: relative;
        top: 17vh;
        left: 40%;
        right: 40%;
    }
}
/*
Description: Styling specific for mobile and desktop
Frame 3
*/
.frame3-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: flex;
    flex: 1;
    align-self: auto;
}

/* .teapotImg:hover {
    transform: scale(1.15);
}

.teacup img:hover {
    transform: scale(1.15);
} */

/*Hidden displays*/
.hidden {
    display: none;
}

.hidden {
    display: none;
}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    .header h1 {
        position: relative;
        text-align: center;
        font-size: 35px;
        top: 50px;
        /*top: 10vh;*/
    }
    .header h2 {
        position: relative;
        text-align: center;
        font-size: 30px;
        top: 20px;
        /*top: 5vh;*/
    }

    .teacup img {
        display: flex;
        position: relative;
        width: 35%;
        height: auto;
        /*
        left: calc(110px + 60vh);
        top: calc(70px + 10vh);
        */
        left: 40vw;
        top: 25vh;
        z-index: 1;
    }

    .teapot img {
        position: relative;
        width: 60%;
        height: auto;
        top: 50px;
    }
}
