/*
Description: Styling specific for mobile
*/
#frame3-layout .header {
    text-align: center;
    margin-right: 1.5rem;
}

/* h1 alignment */
#frame3-layout h1 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-top: calc(var(--img-scale) * var(--mbg-height) * 0.07);
}

/* h2 styling */
#frame3-layout h2 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-top: calc(var(--img-scale) * var(--mbg-height) * 0.13);
}

/* teacup image styling */
#frame3-layout .teacup img {
    position: absolute;
    width: 30vw;
    top: calc(var(--img-scale) * var(--mbg-height) * 0.7);
    left: calc(var(--img-scale) * var(--mbg-width) * 0.2);
    z-index: 1;
}

/* teapot image styling */
#frame3-layout .teapot img {
    position: absolute;
    width: 55vw;
    top: calc(var(--img-scale) * var(--mbg-height) * 0.55);
    left: calc(var(--img-scale) * var(--mbg-width) * 0.45);
}

/* Frame 3 */
#frame3-layout .frame3-container {
    top: 8vh;
}

#frame3-layout .item {
    display: flex;
    flex: 1;
    align-self: auto;
}

#frame3-layout a {
    position: relative;
    top: 17vh;
    left: 40%;
    right: 40%;
}

#frame3-layout .item {
    display: flex;
    flex: 1;
    align-self: auto;
}

/*Hidden displays*/
#frame3-layout .hidden {
    display: none;
}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    #frame3-layout .header h1 {
        font-size: 2rem;
        margin-top: calc(var(--img-scale) * var(--tbg-height) * 0.06);
    }
    #frame3-layout .header h2 {
        font-size: 2rem;
        margin-top: calc(var(--img-scale) * var(--tbg-height) * 0.1);
    }

    #frame3-layout .teacup img {
        width: 15vw;
        top: calc(var(--img-scale) * var(--tbg-height) * 0.7);
        left: calc(var(--img-scale) * var(--tbg-width) * 0.43);
        z-index: 1;
    }

    #frame3-layout .teapot img {
        width: 30vw;
        top: calc(var(--img-scale) * var(--tbg-height) * 0.5);
        left: calc(var(--img-scale) * var(--tbg-width) * 0.54);
    }
}

@media (min-width: 1280px) {
    #frame3-layout .header h1 {
        margin-top: calc(var(--img-scale) * var(--dbg-height) * 0.08);
    }

    #frame3-layout .header h2 {
        margin-top: calc(var(--img-scale) * var(--dbg-height) * 0.12);
    }

    #frame3-layout .teacup img {
        position: absolute;
        width: 15vw;
        top: calc(var(--img-scale) * var(--dbg-height) * 0.6);
        left: calc(var(--img-scale) * var(--dbg-width) * 0.43);
    }

    #frame3-layout .teapot img {
        position: absolute;
        width: 30vw;
        top: calc(var(--img-scale) * var(--dbg-height) * 0.4);
        left: calc(var(--img-scale) * var(--dbg-width) * 0.55);
    }
}
