/* isn't being applied?? */
.instructions h1 {
    color: red;
    padding-top: 50%;
    padding-left: 30%;
}

.container {
    position: relative;
    width: 50%;
}

.teapot img {
    position: relative;
    height: 30vh;
    width: auto;
    left: 50vw;
    top: 20vh;
}
.container button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.teacup img {
    position: relative;
    height: 20vh;
    width: auto;
    left: 25vw;
    top: -5vh;
}
