.container {
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*padding:10px;
    margin-top: 1cm;*/
}
.item {
    display: flex;
    flex: 1;
    align-self: auto;
}

.teacup img {
    max-width: 70%;
    position: relative;
    height: auto;
}
