html{
    font-size: 20px;
}

body{
    background-image: url("./assets/images/backgrounds/backgroundMobile.png");
    background-color: antiquewhite;
}

h1,h2,h3{
    text-align: center;
    color: black;
    margin: 5px;
}
button{
    font-size: 20px;
    margin:10px;
}

button:hover{
    background-color: gold;

}

a{
    font-weight: bold;
    color:rgb(208, 117, 48);
}

.button-container {
    display: flex;
    justify-content: center;
}
