/*
Description: Styling specific for mobile
*/
@media (max-width: 768px) { /* Adjust the maximum width as needed */
    body {
        background-size: contain;
        background-image: url('../images/backgrounds/backgroundMobile.png');
        background-size: 100vw;
        background-repeat: no-repeat;
    }

}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    body{
        background-color: antiquewhite;
        /*background-image: 
        background-repeat: no-repeat;
        background-size: 100vh;
        */
    }
    
    h1{
        text-align: center;
        margin: 15px;
        padding: 15px;
        font-size: 60px;
    }
    
    h2,h3{
        text-align: center;
        padding: 2px;

    }
}

/*
Description: Styling for desktop and mobile
*/
a{
    background-color:rgb(70, 109, 47);
    border-radius: 15px;
    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-right: 4mm;
    padding-left: 4mm;

    margin-top: 90%;
    margin-left: 80%;
    margin-block-end: 10%;

    font-weight: bold;
    font-size: 30px;
    color:beige;
}

button:hover, a:hover{
    background-color: rgb(238, 205, 19);
}

.start-button a{
    margin-top: 50vh;
    margin-left: 35vw;
    font-size: 8vw;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: -2.5cm;
}

button{
    background-color: transparent;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

h1{
    padding-top: 40%;
    padding-left: 30vw;
}



/*.container img {
  flex: 1;
  max-width: 100%;
  height: auto;

  position: relative;
    height: 30vh;
    width: auto;
    left: 50vw;
    top: 20vh;
}*/
.container {
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*padding:10px;
    margin-top: 1cm;*/
}
.item {
    display: flex;
    flex: 1;
    align-self: auto;
}

.teacup img {
    max-width: 70%;
    position: relative;
    height: auto;
}

.teapot img{
    position: relative;
    left: -30px;
    max-width: 130%;
    position: relative;
    height: auto;
}

.pour button{
    width: 100px;
    height: 50px;
    font-size: 18px;
}




.teajar_oolong{
    background-image: url('./assets/images/teajars/Oolong.png');
    background-repeat: none;
    background-size: cover;
}
.teajar_green{
    background-image: url('./assets/images/teajars/Green.png');
}
.teajar_matcha{
    background-image: url('./assets/images/teajars/Matcha.png');
}
