/*
Description: Styling specific for mobile
*/
@media (max-width: 768px) { /* Adjust the maximum width as needed */
    body {
        background-size: contain;
        background-image: url('../images/backgrounds/backgroundMobile.png');
        background-size: 100vw;
        background-repeat: no-repeat;
    }

}

/*
Description: Styling specific for desktop
*/
@media (min-width: 769px) {
    body{
        background-color: antiquewhite;
        /*background-image: 
        background-repeat: no-repeat;
        background-size: 100vh;
        */
    }
    
    h1{
        text-align: center;
        margin: 15px;
        padding: 15px;
        font-size: 60px;
    }
    
    h2,h3{
        text-align: center;
        padding: 2px;

    }
}

/*
Description: Styling for desktop and mobile
*/
a{
    background-color:rgb(70, 109, 47);
    border-radius: 15px;
    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-right: 4mm;
    padding-left: 4mm;

    margin-top: 90%;
    margin-left: 80%;
    margin-block-end: 10%;

    font-weight: bold;
    font-size: 30px;
    color:beige;
}

button:hover, a:hover{
    background-color: rgb(238, 205, 19);
}

.start-button a{
    margin-top: 50vh;
    margin-left: 35vw;
    font-size: 8vw;
}

h1{
    padding-top: 40%;
    padding-left: 30vw;
}

